
CREATE OR REPLACE FUNCTION public.get_auth_tenant_id()
RETURNS UUID
LANGUAGE sql STABLE SECURITY DEFINER
AS $$
  SELECT tenant_id FROM public.users WHERE uid = auth.uid() LIMIT 1;
$$;

DROP POLICY IF EXISTS "Tenants can view their own roles" ON public.roles;
CREATE POLICY "Tenants can view their own roles"
ON public.roles FOR SELECT
USING (tenant_id = public.get_auth_tenant_id());

DROP POLICY IF EXISTS "Managers can insert roles" ON public.roles;
CREATE POLICY "Managers can insert roles"
ON public.roles FOR INSERT
WITH CHECK (tenant_id = public.get_auth_tenant_id());

DROP POLICY IF EXISTS "Managers can update their roles" ON public.roles;
CREATE POLICY "Managers can update their roles"
ON public.roles FOR UPDATE
USING (tenant_id = public.get_auth_tenant_id());

DROP POLICY IF EXISTS "Managers can delete their roles" ON public.roles;
CREATE POLICY "Managers can delete their roles"
ON public.roles FOR DELETE
USING (tenant_id = public.get_auth_tenant_id());

